.loginForm {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm form h1 {
  text-align: center;
  text-transform: uppercase;
}

.loginBox {
  box-shadow: rgba(158, 154, 154, 0.24) 3px 3px 8px;
  border-radius: 5px;
  padding: 60px;
  font-size: 20px;
}

.loginForm form p {
  color: #777;
  font-size: 20px;
}

.loginForm form p a:hover {
  text-decoration: underline;
}

.login-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.email {
  margin-bottom: 15px;
}
